<form #form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2 class="login-form__title">Login</h2>
    <label>
        <input type="text" formControlName="username" placeholder="Username" autocomplete="username"/>
    </label>
    <label>
        <input type="password" formControlName="password" placeholder="Password" autocomplete="current-password"/>
    </label>
    <button class="login-form__submit primary" [disabled]="!loginForm.valid">Login</button>
    <span class="login-form__side-note">New? <a [routerLink]="['/private/auth/register']">register now!</a></span>
</form>
