@import "colors";
@import "fonts";

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: $light;
}

h2 {
    display: inline-block;
}

input {
    display: inline-block;
    width: 100%;
    font-size: .9rem;
    border: 1px solid $mid;
    border-radius: 3px;
    color: $mid;
    padding: 15px 10px;
    margin-bottom: 10px;
    outline: none;
    transition: .5s ease;

    &:focus {
        border-color: $primary;
        color: $primary;
    }

    &.ng-invalid.ng-touched,
    &.ng-invalid.ng-dirty {
        border-color: $danger !important;
        color: $danger !important;
    }

    &[type="text"] {
    }
}

button {
    display: inline-block;
    border: none;
    font-size: 1rem;
    padding: 10px 25px;
    margin-bottom: 10px;
    border-radius: 25px;
    outline: none;
    cursor: pointer;

    &.primary {
        border: 2px solid transparent;
        background: $primary;
        font-weight: bold;
        color: $light;

        &:active {
            background: $primary-light;
        }

        &:disabled {
            border: 2px solid $primary;
            background: $white;
            color: $primary;
            cursor: context-menu;
        }
    }

    &.neutral {
        border: 2px solid $primary;
        background: $light;
        color: $primary;
    }
}

span {
    &.error {
        color: $danger;
    }
}

nav {
    background-color: $primary;
    color: $white;
}
