<div class="bottle-favorite">
    <div class="bottle-favorite-icon" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
        <fa-icon *ngIf="(showFavorite | async)" [icon]="['fas', 'star']"></fa-icon>
        <fa-icon *ngIf="!(showFavorite | async)" [icon]="['far', 'star']"></fa-icon>
    </div>
</div>
<img class="bottle-image" src="/assets/images/default-bottle.png" alt="default-bottle"/>
<div class="bottle-info">
    <h3 class="bottle-name">{{bottle.name}}</h3>
    <span class="bottle-abv">ABV. :{{bottle.abv}}</span><br>
    <span class="bottle-age">Age :{{bottle.age}}</span><br>
    <span class="bottle-volume">Volume: {{bottle.volume}}</span><br>
</div>
