@import "src/main/javascript/assets/scss/colors";

:host {
    display: block;
    padding: 10px;

    .bottle {
        text-align: center;

        &-image {
            display: block;
            height: 200px;
            margin: 0 auto;
        }

        &-favorite {
            text-align: right;
            font-size: 20px;
            height: 20px;
            color: $accent;

            &-icon {
                display: none;

                &.visible {
                    display: inline-block;
                }

                :hover {
                    cursor: pointer;
                }
            }
        }


    }

    &:hover > .bottle-favorite {
        .bottle-favorite-icon {
            display: inline-block;
        }
    }
}
