<app-pagination-controls
    (pageSize)="changePageSize($event)"
    (currentPage)="changeCurrentPage($event)"
    [pagination]="pagination$">
</app-pagination-controls>
<div class="card-container">
    <p *ngFor="let bottler of bottlers$ | async">
        name: {{bottler.name}}
        city: {{bottler.country}}
    </p>
</div>
<app-pagination-controls
    (pageSize)="changePageSize($event)"
    (currentPage)="changeCurrentPage($event)"
    [pagination]="pagination$">
</app-pagination-controls>
