<section *ngIf="!(currentUser$ | async)">
    <button class="neutral small" [routerLink]="['auth','login']">Login</button>
    <button class="primary small" [routerLink]="['auth','register']">Register</button>
</section>
<section *ngIf="currentUser$ | async as currentUser" class="menu">
    <label for="toggle" class="user-menu">
        {{currentUser.username | titlecase}}
        <div class="user-menu-image"></div>
    </label>
    <input type="checkbox" id="toggle">
    <div class="sub-menu">
        <div class="sub-menu-item" (click)="toDashboard()">Dashboard</div>
        <div class="sub-menu-item">Dark theme</div>
        <div class="sub-menu-item" (click)="logout()">Logout</div>
    </div>
</section>

