:host {
    .sizes {
        display: inline-block;
        width: 20px;
        height: 20px;

        label{
            display: inline-block;
            text-align: center;
            cursor: pointer;
        }

        input[type="radio"]{
            visibility: hidden;

            &:checked + label{
                background-color: #ca1616;
            }
        }
    }
}
