<nav class="menu">
    <ul class="menu-section">
        <li class="menu-section__item"><a href="">[Logo]</a></li>
        <li class="menu-section__item"><a href="">Item 2</a></li>
        <li class="menu-section__item"><a href="">Item 3</a></li>
    </ul>
    <ul class="menu-section">
        <li class="menu-section__item"><a href="">Item 1</a></li>
        <li class="menu-section__item"><a href="">Item 2</a></li>
        <li class="menu-section__item"><a href="">Item 3</a></li>
    </ul>
</nav>
