<section class="top">
    <h1 class="logo" [routerLink]="['/']">
        <input #hamburger type="checkbox" id="hamburger">
        <label for="hamburger" class="hamburger">
            <div class="hamburger-stripe"></div>
            <div class="hamburger-stripe"></div>
            <div class="hamburger-stripe"></div>
        </label>
        [Logo]
    </h1>
    <app-user-menu></app-user-menu>
</section>
<section class="bottom" [ngClass]="{'shown':hamburger.checked}">
    <nav class="menu">
        <div class="menu-item">
            <a class="menu-item__link" [routerLink]="['/']">Whiskies</a>
        </div>
        <div class="menu-item">
            <a class="menu-item__link" [routerLink]="['distilleries']">Distilleries</a>
        </div>
        <div class="menu-item">
            <a class="menu-item__link" [routerLink]="['bottlers']">Bottlers</a>
        </div>
    </nav>
</section>
