@import "src/main/javascript/assets/scss/colors";
@import "src/main/javascript/assets/scss/mixins";

:host {
    position: fixed;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 999;
    width: 100%;
    height: 64px;

    .top {
        background: $light;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;

        .logo {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: 0;
            padding: 0 20px;

            #hamburger {
                display: none;

                &:checked {
                    & + .hamburger {
                        & .hamburger-stripe:nth-child(1) {
                            transform: translateY(7px) rotateZ(45deg);
                        }

                        & .hamburger-stripe:nth-child(2) {
                            opacity: 0;
                        }

                        & .hamburger-stripe:nth-child(3) {
                            transform: translateY(-7px) rotateZ(-45deg);
                        }
                    }
                }
            }

            .hamburger {
                display: none;
                cursor: pointer;
                margin-right: 20px;

                @include phone-only {
                    display: block;
                }

                &-stripe {
                    transition: .5s ease;
                    background: $primary;
                    width: 25px;
                    height: 5px;
                    border-radius: 3px;
                    margin-bottom: 2px;
                }
            }
        }
    }

    .bottom {
        background: $primary;
        transition: .3s ease;

        @include phone-only {
            transform: scaleY(0);
            transform-origin: top;
        }

        &.shown {
            @include phone-only {
                transform: scaleY(1);
            }
        }

        .menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);

            @include phone-only {
                flex-direction: column;
            }

            &-item {
                @include phone-only {
                    width: 100%;
                }

                &:hover,
                &:active{
                    background: $primary-dark;
                }

                &__link {
                    display: block;
                    padding: 5px 10px;
                    width: 100%;
                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }
}
