@import "src/main/javascript/assets/scss/colors";

:host {
    position: fixed;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 999;
    width: 100%;

    .top {
        background: $light;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;

        .logo {
            cursor: pointer;
            margin: 0;
            padding: 0 20px;
        }
    }

    .bottom {
        background: $primary;

        .menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &-item {
                padding: 5px 10px;

                &:hover {
                    background: $primary-dark;
                }

                &__link {
                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }
}
