:host{
    display: block;
    padding: 10px;

    .bottle{
        text-align: center;
        &-image{
            display: block;
            height: 200px;
            margin: 0 auto;
        }

        &-info{

        }
    }
}
